html {
    background-color: black;
}
img {
    width: 100%;
    border: 5px solid white;
}
.poster {
    color: white;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 100px;
}
h1 {
    text-transform: uppercase;
    font-size: 3em;
}
